
.column {
  /*position: relative;*/
  width: 100px;
  margin: 0 auto;
  display: inline-block;
  /*vertical-align: top;*/
  /*z-index: -1;*/
}

.row {
  /*background-color: blue;*/
  width: 90px;
  height: 90px;
  /*position: relative;*/
  /*display: none;*/
  /*z-index: -1;*/
  border-radius: 50px;
  margin: 5px auto ;
  border: 2px solid black;
}

[data-color="red"] {
  background-color: red;
}

[data-color="black"] {
  background-color: black;
}



.board {
  /*position: absolute;*/
  /*background-size: 100% 100%;*/
  display: inline-block;
  /*border: 1px solid red;*/
  /*vertical-align: top;*/
  background-color: yellow;
  /*background-image: url("../imgs/Connect4Board.png");*/
  /*background-repeat:no-repeat;*/
/*  z-index: 10;*/
  /*width: 740px;*/
  /*height: 620px;*/
  border-radius: 30px;
  border: 2px solid black;
  padding: 8px;
}

[data-color="empty"] {
  background-color: white;
}

.full_layout {
  width:900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.menu {
  float: right;
  display: inline-block;
}

.menu .player {
  width: 90px;
  height: 90px;
  border-radius: 85px;
  border: 2px solid black;
}

