
.column {
  /*position: relative;*/
  width: 100px;
  margin: 0 auto;
  display: inline-block;
  /*vertical-align: top;*/
  /*z-index: -1;*/
}

.row {
  /*background-color: blue;*/
  width: 90px;
  height: 90px;
  /*position: relative;*/
  /*display: none;*/
  /*z-index: -1;*/
  border-radius: 50px;
  margin: 5px auto ;
  border: 2px solid black;
}

[data-color="red"] {
  background-color: red;
}

[data-color="black"] {
  background-color: black;
}



.board {
  display: inline-block;
  background-color: yellow;
  border-radius: 30px;
  border: 2px solid black;
  padding: 8px;
}

[data-color="empty"] {
  background-color: white;
}

.full_layout {
  display: block;
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.menu {
  float: right;
  display: inline-block;
  width: 220px;
  border: 2px solid black;
  text-align: center;
  border-radius: 30px;
}

.menu .player {
  width: 90px;
  height: 90px;
  border-radius: 85px;
  border: 2px solid black;
  margin: 20px auto;
}

.player_name {
  margin-top: 10px;
  font-size: 30px;
  padding: 10px;
}

